@import "styles/colors";
@import "styles/size";

.container {
  padding: 1rem;
  color: $accent_color;
}

.title {
  color: $accent_color;
  text-align: center;
}

.salt {
  display: flex;
  align-items: center;
  &_image {
    cursor: pointer;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    object-fit: cover;
  }
}

.social {
  margin-top: 0.5rem;
}

@media (max-width: $sp_max_width) {
  .salt {
    flex-flow: column;
  }
}